@import "../../node_modules/bootstrap/scss/bootstrap";

.results {
  max-width: 100%;
  .card-columns {
    @include media-breakpoint-only(xl) {
      column-count: 5;
    }
    @include media-breakpoint-only(lg) {
      column-count: 4;
    }
    @include media-breakpoint-only(md) {
      column-count: 3;
    }
    @include media-breakpoint-only(sm) {
      column-count: 2;
    }
  }
}